{% if data.count > 1 %}
       <div class="col-md-12">
           <div style="text-align:center;p">
<ul class="list-unstyled list-inline pagination">   
     {% if data.this > 1%}
           <li style="display:inline-block;"><a class="pag" href="{{path('page',{'i':data.b,'name':data.name,'tip':data.tip,'ts':data.ts})}}" style="list-style: none;"><<</a></li>
       {% endif %}
    {% if data.count > 8 %} 
    {%if data.count>data.this+5%}
    {%if data.this-4<1%}
        {% for i in 1..8 %}
          {%if data.this==i%}
    <li style="display:inline-block;"><a style="list-style: none; background-color: gray;">{{ i }}</a></li>
    {%else%}
      <li style="display:inline-block;"><a href="{{path('page',{'i':i,'name':data.name,'tip':data.tip,'ts':data.ts})}}" style="list-style: none;">{{ i }}</a></li>
    {%endif%}
    {% endfor %}
    {%else%}
    {% for i in data.this-3..data.this+4 %}
    {%if data.this==i%}
    <li style="display:inline-block;"><a style="list-style: none; background-color: gray;">{{ i }}</a></li>
    {%else%}
      <li style="display:inline-block;"><a href="{{path('page',{'i':i,'name':data.name,'tip':data.tip,'ts':data.ts})}}" style="list-style: none;">{{ i }}</a></li>
    {%endif%}
      {% endfor %}
    {%endif%}
    {%else%}
    {% for i in data.count-7..data.count %}
    {%if data.this==i%}
    <li style="display:inline-block;"><a style="list-style: none; background-color: gray;">{{ i }}</a></li>
    {%else%}
      <li style="display:inline-block;"><a href="{{path('page',{'i':i,'name':data.name,'tip':data.tip,'ts':data.ts})}}" style="list-style: none;">{{ i }}</a></li>
    {%endif%}
      {% endfor %}
    {%endif%}
     {% else %}
   {% for i in range(1, data.count) %}
     {%if data.this==i%}
    <li style="display:inline-block;"><a style="list-style: none; background-color: gray;">{{ i }}</a></li>
    {%else%}
      <li style="display:inline-block;"><a href="{{path('page',{'i':i,'name':data.name,'tip':data.tip,'ts':data.ts})}}" style="list-style: none;">{{ i }}</a></li>
    {%endif%}
    {% endfor %}
    {% endif %}
         {%if data.this!=data.count%}
    <li style="display:inline-block;"><a href="{{path('page',{'i':data.a,'name':data.name,'tip':data.tip,'ts':data.ts})}}" style="list-style: none;">  >> </a></li>
      {%endif%}
</ul>  

       </div>
   </div>   
   {% endif %} 